body	{
	background-image: url("../img/h_img.jpg");
	text-align: center;
	color: white;
	margin: 10%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 5%;	
}
#click	{
	padding-bottom: 100px;
}