.part1	{
	background-image: url("../img/h_img.jpg");
	text-align: center;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 5%;	
	padding-bottom: 3%;
}
#click	{
	padding-bottom: 100px;
}
.About	{
	text-align: center;
}
.Services	{
	background-image: url("../img/s_image.jpg");
	text-align: center;
	color: white;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 9%;	
	padding-bottom: 5%;
}
#head	{
	text-align: center;
	float: all;
	padding-top: 30px;
}
.part1	{
	margin-right: 30px;
	padding-right: 100px
}
/* #space1	{
	margin-right: 5%;
	padding-right: 20%;
	padding-left: 8px;
	float: left;

}
#space2	{
	margin-left: 35px;
	padding-left: 15px;
	margin-right: 20px;
}
#space3	{
	margin-left: 25px;
	padding-left: 15px;
	margin-right: 20px;
}
#space4	{
		margin-left: 25px;
	padding-left: 15px;
	margin-right: 20px;
} */